.app-wrapper {
    display: grid;
    width: 1000px;
    height: 700px;
    margin: 20px auto;
    grid-template-areas: "head head head" "rl mp oul";
    grid-template-rows: 40px 1fr;
    grid-template-columns: 2fr 10fr 2fr;
    border: solid 1px black;
}

